* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14px;    
}

/* .tallyListDiv {
  margin: 20px;
}

.tallyCard {
  max-width: 300px;    
}

.tallyCardDiv {
  display: flex;
  justify-content: center;    
}

.tallyListGroup {
  flex-flow: row wrap;    
  justify-content: flex-start;    
}

.tallyListItem {
  margin: 10px;
  height: 50px;    
} */